body{
  background-color:#ddd;
}
.App {
  text-align:center;
  border:solid 1px #ddd;
  padding:15px;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  background-color:#fff;
}
 .post{
   text-align:left;
 }